.container {
  margin-top: -50px;
  height: 100vh;
  display: flex!important;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 48px;
    color: #088002;
  }

  .messageBlock {
    text-align: center;
  }

  .link {
    margin-left: 10px;
    text-decoration: underline;
    color: #008;
  }
}
