.detailsBlock {
  display: flex;
  width: 100%;

  & .detailsItem {
    flex-basis: 45%;
  }

  & .detailsItem_bold {
    font-weight: 700;
  }
}

.facilitiesBlock {
  flex-basis: 50%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  .facilitiesItem {
    margin-bottom: 5px;
  }
}
