.reaction {
  align-items: center;
  margin: 10px 0 !important;

  .description {
    margin-left: 10px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn {
    background-color: #fff !important;
  }
}
