.container {
  margin-top: -50px;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;

  .item {
    text-align: center;
    margin-bottom: 20px;
  }

  .icon {
    font-size: 48px;
    color: #088002;
  }

  .link {
    margin-left: 10px;
    color: #008;
  }
}
