.zoomImgBlock {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.4);
  overflow: hidden;
  z-index: 1000 !important;

  .zoomContent {
    position: relative;
  }

  img {
    border: 2px solid #222;
    box-shadow: 1px 1px 3px #111;
    width: 100%;
    max-width: 1280px;
    min-width: 740px;
    max-height: 90vh;
  }

  .zoomClose {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: rgba(239, 239, 239, 0.6);
    font-size: 42px;
    cursor: pointer;
    border-radius: 3px;
    color: #222;
  }
}
